<div class="header">
  <h1 class="logo">Band Starter</h1>
  <p class="description">Find good players and Have fun days .</p>
</div>

<div class="main-contents">
    

  <% if user_signed_in? && current_user.leader_or_member_id == 2 %>
    <div class="user-block">
      <div class="recruitment"><%= link_to '募集する', new_post_path, class:"recruitment-btn" %></div>
    </div>
  <% elsif !user_signed_in? %>
    <div class="user-block">
      <div class="registration"><%= link_to '会員登録', new_user_registration_path, class:"user-btn" %></div>
      <div class="login"><%= link_to 'ログイン', new_user_session_path, class:"user-btn" %></div>
    </div>
  <% else %>
  <% end %>
</div>

<div class="sub-contents">
  <% @posts.each do |post| %>
    <div><%= link_to "#{post.title}", post_path(post) %></div>
  <% end %>
</div>
